<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-5 red-background ">
		<h1>INFORMACION</h1>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
	</div>

	<div class="col-md-7 blue-background ">
		<h1>IMAGEN</h1>
		<br>
		<br>
		<br>
	</div>

	<div class="col-md-6 green-background">
		<h1>Aqui vienen las letras</h1>
	</div>

	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class='yellow-background jumbotron text-center'>
		<h1>_ _ _ _ _ _ _ _ _ _</h1>
		<br>
	</div>
</div>