<!DOCTYPE html>
<html>
  <head>
    <title>Ahogado</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
  </head>
  <body class="geometry-texture">
   <div class="container">

    <%= yield %>

   </div>
  </body>
</html>
