<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom"></script>
  </head>
  <body class="geometry-texture">
    <div class="col-md-6"></div>
    <div class="col-md-8">
      <h1 name="bienvenida">Bienvenido a Ahorcado</h1>
      <form class="" action="/jugar" method="get">
        <input type="submit" value="jugar" name="jugar" class="btn btn-danger">
      </form>
    </div>
    <div class="col-md-6"></div>
  </body>
</html>