
  <div class="col-md-6"></div>
  <div class="col-md-9">
      <div class="text-center">
        <h1 id="bienvenida">Bienvenido</h1>
        <h1 id="juego">Ahogado</h1>
        <img src="images/jar.png">
        <br><br>
        <form class="" action="/game" method="get">
          <div class="text-center"><input type="submit" value="Jugar" class="btn btn-lg btn-danger" name="jugar"></div>
        </form>
      </div>

  </div>
  <div class="col-md-6"></div>
