  <div class="col-md-6"></div>
  <div class="col-md-8">
      <h1 name="bienvenida">Bienvenido</h1>
      <form class="" action="/jugar" method="get">
        <input type="submit" value="jugar" class="btn btn-danger">
      </form>
  </div>
  <div class="col-md-6 congruent-pentagon-texture"></div>