
  <div class="col-md-6"></div>
  <div class="col-md-8">
      <center>
        <h1 name="bienvenida">Bienvenido</h1>
        <img src="images/jar2.png">
      </center>
      <form class="" action="/jugar" method="get">
        <center><input type="submit" value="jugar" class="btn btn-danger"></centrer>
      </form>
  </div>
  <div class="col-md-6 congruent-pentagon-texture"></div>
