
  <div class="col-md-6"></div>
  <div class="col-md-9">
      <center>
        <h1 id="bienvenida">Bienvenido</h1>
        <h1 id="juego">Ahorcado</h1>
        <img src="images/jar.png">
        <br><br>
        <form class="" action="/game" method="get">
          <center><input type="submit" value="Jugar" class="btn btn-lg btn-danger" name="jugar"></center>
        </form>
      </center>

  </div>
  <div class="col-md-6 congruent-pentagon-texture"></div>
