
.geometry-texture{
    background-image: url('/images/geometry-texture.png');
}

.tree-bark-texture{
    background-image: url('/images/tree-bark-texture.png');
}

.congruent-pentagon-texture{
    background-image: url('/images/congruent-pentagon-texture.png');
}

.red-background
{
	background-color: red;
}

.blue-background
{
	background-color: blue;
}

.green-background
{
	background-color: green;
}

.yellow-background
{
	background-color: yellow;
}

.disabled-cursor{
	cursor: not-allowed;
}