.geometry-texture{
    background-image: url('/images/geometry-texture.png');
}

.tree-bark-texture{
    background-image: url('/images/tree-bark-texture.png');
}

.congruent-pentagon-texture{
    background-image: url('/images/congruent-pentagon-texture.png');
}